@use "@lok/styles/utils.scss" as utils;
@use "@lok/styles/overrides.scss" as ov;

$inputHeight: 40px;

@include utils.b("inputField") {
    color: utils.color("black");
    font-size: calcRem(14px);
    font-weight: ov.$global-weight-medium;
    box-sizing: border-box;
    width: 100%;
    height: $inputHeight;
    padding: 0 10px 0 16px;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid utils.color("gray", "light-3");
    border-radius: ov.$global-border-radius;
    background-color: white;
    line-height: normal; /* safari placeholder centering fix */
    line-height: 22px;
    transition: all 0.3s ease-in-out;

    &::placeholder {
        color: utils.color("gray", "light-1") !important; /* important needed for IE */
        opacity: 1;
        font-weight: ov.$global-weight-medium;
    }
    &:hover {
        border-color: utils.color("blue", "light-1");
        box-shadow: 0px 0px 4px #{utils.color("blue", "light-4")};
    }
    &:focus {
        border-color: utils.color("blue");
        box-shadow: 0px 0px 4px #{utils.color("blue", "light-3")};
        outline: 0;
    }
    &:disabled {
        border-color: utils.color("gray", "light-3") !important;
        background: utils.color("gray", "light-5") !important;
        box-shadow: none !important;
        color: utils.color("gray", "light-2") !important;
    }

    @include utils.m("error") {
        border-color: utils.color("red") !important;
        box-shadow: 0px 0px 4px #{utils.color("red", "light-3")} !important;
    }
}

@include utils.b("inputFieldAddon") {
    position: absolute;
    top: 0;
    line-height: $inputHeight;
    transition: all 0.3s ease-in-out;

    @include utils.m("left") {
        left: 0;
    }

    @include utils.m("right") {
        right: 0;
    }
}

@include utils.b("inputFieldGroup") {
    position: relative;
}
